body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.join-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.join-form {
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.join-form h1 {
  color: #fff;
}

.join-form input {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.join-form button {
  padding: 10px 20px;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.editor-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-right: 1px solid #333;
}

.sidebar h3,
.sidebar h2 {
  margin: 10px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 5px 0;
}

.language-selector{
   margin-top: 1rem;
      width: 100%;
      padding: 0.5rem;
      background-color: #34495e;
      color: white;
      border: none;
      border-radius: 4px;
}
.leave-button{
  margin-top: 1rem;
      width: 100%;
      padding: 0.75rem;
      background-color: #e74c3c;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ab2a1c;
      }
}
.copy-btn {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background-color: #3b82f6;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.typing-indicator {
  font-style: italic;
  color: #ccc;
  margin-top: 10px;
}

.editor-wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}

.run-btn {
  margin: 10px 0;
  padding: 10px;
  background-color: #22c55e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.user-input,
.output-console {
  background-color: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  resize: vertical;
  height: 100px;
}
